* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0);
}

.footer_links > div > ul > li > a {
  color: #ffffff;
}
body {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-x: hidden;
}

#gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  animation: suddenSnap 3.3s forwards;
}

@keyframes suddenSnap {
  0% {
    visibility: visible;
  }
  99.9% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

#gif-overlay img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* .......................................................................................... */
/* ACTUAL CSS STARTS HERE */
/* ................................................................................... */
/* NAVIGATION CUSTOMS */

header {
  height: 50px;
  width: 100%;
  padding: 0 10%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  position: fixed;
  backdrop-filter: blur(10px);
}

header > nav {
  width: 50%;
}

.navl {
  display: flex;
  align-items: center;
}

.sabin {
  font-family:
    cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline overline line-through;
}

.navr {
  display: flex;
  justify-content: end;
}

.navr > ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  li {
    width: auto;
    height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    transition: 0.3s ease-in;
    padding: 0 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 1px white;
  }
}

.navr > ul > li:hover {
  background-color: rgb(100, 116, 139);
  border-radius: 10px;
}

.navr2 {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: end;
}

/*MAIN SECTION HERE.........................................................*/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

SECTION {
  margin: 0 10%;
  width: 80%;
}

.me {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.intro {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 50px;
    margin-top: 5%;
    letter-spacing: -0.05em;
    text-decoration: underline;
    background: linear-gradient(
      135deg,
      black,
      gray,
      black,
      gray,
      black,
      gray,
      black,
      gray,
      black,
      gray,
      black,
      gray,
      black,
      gray
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.intro_text {
  font-size: 20px;
  margin: 5%;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0% 3%;
  flex-direction: row;
  gap: 10px;
  div {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social > div:hover {
  border: 2px solid rgba(0, 0, 0);
  background-color: rgba(0, 255, 255, 0.1);
}

.profile {
  width: 45%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: flip 10s infinite linear;
  transform-style: preserve-3d;
  z-index: -1;
  img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: 3px solid gray;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg) rotateZ(720deg) scale(0);
  }
  10% {
    transform: rotateX(0deg) rotateZ(0deg) scale(1);
  }
  90% {
    transform: rotateX(0deg) rotateZ(0deg) scale(1);
  }
  100% {
    transform: rotateX(0deg) rotateZ(720deg) scale(0);
  }
}

.top-projects {
  width: 100%;
  margin: 0;
  padding: 0 10%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  background-image: url(../IMAGES/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  div {
    width: 300px;
    height: 300px;
    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px white;
    color: #ffffff;
    h3 {
      text-decoration: underline;
    }
  }
  h1 {
    width: 100%;
    text-decoration: underline;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
  }
}

/* FOOTER SECTION STARTS HERE */

footer {
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 20px 0;
  padding: 1% 10%;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_links > div > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer_links > div > ul > li {
  font-size: 20px;
}

.footer_links > div > ul > li:hover {
  color: aqua;
}

.footer-divide {
  display: none;
}

.footer-divide-2 {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.footer_credit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px 0;
}
.footer_credit > p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOR MOBILE PHONES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>..... */
@media (max-width: 700px) {
  #gif-overlay {
    display: none;
  }

  .navr {
    display: none;
  }

  .navr2 {
    display: flex;
  }

  .intro > h1 {
    font-size: 40px;
  }

  .top-projects > div {
    padding: 10px;
    max-width: 120px;
    max-height: 120px;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
  }

  .footer_links > div {
    width: 100%;
  }

  .footer-divide {
    display: flex;
    width: 100%;
    margin: 10px 0;
  }
}

/* FOR MOBILE + TABLET BOTH.............................................. */
@media (max-width: 1000px) {
  .intro,
  .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 50%;
  }

  .profile > img {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer_links > div {
    flex: 1;
    padding: 0 1%;
  }

  .footer_links > div > ul > li {
    font-size: 18px;
  }

  .footer_links > div > ul {
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
}
